
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  margin-bottom:2em;
}

.columns {
  text-align: center;
  display: flex;
  flex:1;
}

.app-header {
  background-color: #fff;
  min-height: 5h;
  font-size: calc(10px + 1vmin);
  color: #5a5f67;
  text-align:center;
}

h1 {
  margin-top:0px;
}

.main-panel {
  flex: 1;
  border:dotted 1px #aaa;
  margin-left:0.25em;
  margin-right:0.25em;
}

.left-sidebar {
  width: 20%;
  border:dotted 1px #aaa;
  margin-left:0.5em;
  margin-right:0.25em;
}

.right-sidebar {
  width: 20%;
  border:dotted 1px #aaa;
  margin-left:0.25em;
  margin-right:0.5em;
}

